<%= form_for(:project_file) do |f| %>
  <% if @project_file.errors.any? %>
    <ul>
      <% @project_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>
